@model List<MovieProject.Models.MovieActor>

<h2>Movie - Actor Relationships</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Movie ID</th>
            <th>Movie Title</th>
            <th>Actor ID</th>
            <th>Actor Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MovieId</td>
                <td>@item.MovieTitle</td>
                <td>@item.ActorId</td>
                <td>@item.ActorName</td>
            </tr>
        }
    </tbody>
</table>
